<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>supject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/Style/supject.css">


</head>
<body> <section>
    <div>
        <tr> </tr>
    <input type= "button" value=" المستوي الرابع" >
    <input type= "button" value=" المستوي الثالث" >
    <input type= "button" value=" المستوي الثاني" >
    <input type= "button" value=" المستوي الأول" >
    <table border="1"> 
        <tr> <td> اسم المقرر</td><td> كود المقرر</td> <td>ساعات المقرر</td> <td> الإضافة او الحذف</td></tr>
        <tr> <td>نظم وقواعد المعرفة</td><td> CS424</td> <td>3 </td> <td> <button> + </button></td></tr>
        <tr> <td> أمن الحاسب </td><td> CS415 </td> <td>3 </td><td> <button> + </button></td></tr>
        <tr> <td> برمجة تطبيقات المحمول</td><td> CS438</td> <td> 3</td><td> <button> + </button></td></tr>
        <tr> <td> تعلم الألة</td><td> CS323</td> <td>3 </td><td> <button> + </button></td></tr>
    </div>
</section>
    
        

<section>
    <div> <table border="1">
        <tr> <td>4</td> <td> 3</td> <td> 2</td> <td> 3</td> <td>1</td> <td> اليوم</td></tr>
        <tr> <td>محاضرة تعلم الألة</td> <td> سكشن أمن الحاسب</td> <td>  محاضرة أمن الحاسب</td> <td>  الأحد</td> <td> </tr>
        <tr>  <td> محاضرة نظم و قواعد البيانات </td> <td> ........</td> <td> ........</td> <td>محاضرة برمجة تطبيقات المحمول </td> <td> الأثنين</td></tr>
        <tr>  <td>.......</td> <td> سكشن تعلم الألة</td> <td>......</td> <td>........</td> <td> الثلاثاء</td></tr>
        <tr>  <td> ........</td> <td>.........</td> <td> سكشن نظم وقواعد المعرفة</td> <td>.......</td> <td> الأربعاء</td></tr>

         </table></div>
</section>
   
</body>
</html>