<h1>Create a new subject</h1>

<form action="/subjects" method="POST">
    {{!-- Name --}}
<div>
    <label for="">Name</label>
    <input type="text" class="form-control" name="name">
</div>
    {{!-- Code --}}
<div>
    <label for="">Code</label>
    <input type="text" class="form-control" name="code">
</div>
    {{!-- Depatment --}}
<div>
    <label for="">Depatment</label>
   
   <select name="depatment" class="form-select">
    {{#each departments}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
   </select>
</div>
<br>
<div>
    <button class="btn btn-success">
        Save
    </button>
</div>


</form>